* {
  margin: 0;
  padding: 0; }

body {
  position: relative;
  background-color: #1c1c1c;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  overflow-X: hidden; }

h1,
h2,
h3,
h4 {
  font-family: "Yeseva One", cursive;
  font-weight: normal; }

h1 {
  font-size: 5vh; }

h2 {
  font-size: 4vh; }

h3 {
  font-size: 5vh; }

section {
  border: 1px solid red;
  width: 90vw;
  height: 90vh;
  padding: 5vh 5vw;
  overflow: hidden; }

li svg {
  fill: #fff;
  width: 20px;
  height: 20px;
  padding: 10px; }

.nav-home-page {
  display: none; }

.active {
  background-color: #bf935f; }

nav {
  width: 100%;
  border-top: 2px solid #3d3d3d;
  background-color: #1c1c1c;
  z-index: 10;
  position: fixed;
  left: 0;
  bottom: 0; }
  nav * {
    box-sizing: content-box; }

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  text-decoration: none; }

button {
  font-size: 25px;
  padding: 5px;
  border: 0;
  background-color: #bf935f;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em; }

@media (orientation: landscape) and (min-width: 700px) {
  nav {
    width: 45px;
    height: 100vh;
    border-top: 0px;
    border-right: 2px solid #3d3d3d;
    background-color: #1c1c1c; }
  .nav-home-page {
    display: block; }
  nav ul {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-content: space-between; }
    nav ul li {
      width: 100%; }
    nav ul li:hover {
      background-color: #3d3d3d; }
  section {
    width: calc(100vw - 45px);
    height: 100vh;
    margin-left: 45px; } }

.first-screen {
  position: relative;
  padding: 0;
  display: grid;
  grid-template-rows: 60vh 40vh;
  grid-template-areas: "first-screen-content" "first-screen-images"; }

.first-screen-content-wraper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: space-around;
  width: 90vw;
  padding: 5vw;
  grid-area: first-screen-content;
  text-align: center; }
  .first-screen-content-wraper h1 {
    flex-basis: 30%; }
  .first-screen-content-wraper p {
    flex-basis: 30%;
    font-size: 25px; }
  .first-screen-content-wraper button {
    justify-self: center;
    width: 60vw;
    height: 7vh; }

.first-screen-images-wraper {
  clip-path: polygon(58% 0, 100% 0%, 100% 100%, 41% 100%);
  grid-area: first-screen-images;
  z-index: -1;
  bottom: 0;
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-template-areas: "img-left img-right"; }

.first-screen-bg {
  background: url(../images/flat.jpg) center;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  position: absolute;
  z-index: -2;
  opacity: 0.09; }

.apartment-sub {
  font-size: 20px; }

.apartment-dis {
  padding-top: 20px;
  padding-left: 30px; }

.booking-btn {
  margin-top: 20px;
  padding: 15px 20px; }

.swipe {
  padding: 10px 20px; }
  .swipe svg {
    height: 60px; }

.img-container {
  position: relative;
  overflow: hidden;
  width: 100%; }

.sroped-img {
  position: absolute;
  top: -9999px;
  left: -9999px;
  right: -9999px;
  bottom: -9999px;
  margin: auto;
  max-width: 100%; }

.apartment {
  background-color: #3d3d3d;
  height: 100vh;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: "1bl 2bl"; }
  .apartment--1bl {
    grid-area: 1bl;
    background-color: pink;
    display: grid;
    grid-template-rows: 8fr 2fr;
    grid-template-columns: 1fr;
    grid-template-areas: "mainImg" "smallImgs"; }
    .apartment--1bl-main-img {
      background-color: #915151;
      grid-area: mainImg; }
    .apartment--1bl-small-imgs {
      grid-area: smallImgs;
      display: flex; }
  .apartment--2bl {
    grid-area: 2bl;
    background-color: blue;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20vh minmax(150px, 60vh);
    grid-template-areas: "2img" "2dis"; }
    .apartment--2bl-img {
      grid-area: 2img;
      background-color: #fff; }
    .apartment--2bl-dis {
      grid-area: 2dis;
      overflow: hidden !important;
      background-color: #3d3d3d;
      display: flex;
      align-items: center; }

.cost-item {
  padding-top: 20px; }
  .cost-item h3 {
    font-size: 30px; }

.news-item {
  background-color: #3d3d3d; }
  .news-item--img {
    height: 30vh;
    display: flex;
    flex-direction: column; }
  .news-item--content {
    padding: 3vw; }
  .news-item--text {
    text-align: justify; }

*, ::before, ::after {
  box-sizing: border-box; }

form {
  padding: 50px 0;
  width: 80vw;
  max-width: 400px;
  margin: 0px auto; }
  form h1 {
    font-size: 40px;
    font-weight: 500;
    text-align: center; }
  form hr.sep {
    background: #bf935f;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto; }

.group {
  position: relative;
  margin: 20px 0; }

.group_radio_lable {
  margin-bottom: 15px;
  margin-top: 30px; }

input[type="tel"], input[type="text"] {
  background: none;
  color: #fff;
  font-size: 18px;
  color: #fff;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #3d3d3d; }
  input[type="tel"]:focus, input[type="text"]:focus {
    outline: none; }
  input[type="tel"]:focus ~ label,
  input[type="tel"]:valid ~ label, input[type="text"]:focus ~ label,
  input[type="text"]:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: #bf935f; }
  input[type="tel"]:focus ~ .bar:before, input[type="text"]:focus ~ .bar:before {
    width: 100%; }

.group label {
  color: #3d3d3d;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 300ms ease all; }

.bar {
  position: relative;
  display: block;
  width: 100%; }
  .bar:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: #bf935f;
    transition: 300ms ease all;
    left: 0%; }

input[type="tel"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type="tel"] {
  -moz-appearance: textfield; }

input[type="tel"]:hover,
input[type="tel"]:focus {
  -moz-appearance: number-input; }

input[type=tel]::-webkit-inner-spin-button,
input[type=tel]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.btn {
  width: 100%;
  padding: 10px 20px;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1); }
  .btn:hover {
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12); }
  .btn.btn-link {
    background: #bf935f;
    color: #f2e9df; }
    .btn.btn-link:hover {
      background: #bf935f; }
  .btn.btn-submit {
    background: #bf935f; }
    .btn.btn-submit:hover {
      background: #b8874d;
      color: black; }
  .btn.btn-cancel {
    background: #eee; }
    .btn.btn-cancel:hover {
      background: #e1e1e1;
      color: #2b2b2b; }

.btn-box {
  width: 100%;
  text-align: center;
  margin: 20px 0; }

/* Hover */
.form_radio_btn label:hover {
  border: 1px solid #fff;
  color: #fff; }

.contacts {
  text-align: center; }
  .contacts h3 {
    font-size: 200%; }
  .contacts p {
    font-size: 150%;
    padding-top: 10px; }

.btn {
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 5px 15px -5px #00000070;
  overflow: hidden;
  position: relative; }

.btn::before {
  content: "";
  position: absolute;
  width: 220%;
  height: 20%;
  background: #c29866;
  transform: rotate(8deg);
  left: -110%;
  top: 90%; }

.btn:hover::before {
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10%; }

@keyframes aaa {
  0% {
    left: -110%;
    top: 90%; }
  50% {
    left: 10%;
    top: -30%; }
  100% {
    top: -10%;
    left: -10%; } }

/*# sourceMappingURL=all.css.map */
