.apartment-sub {
  font-size: 1rem;
}

.apartment-dis {
  font-size: 0.8rem;
  padding-top: 20px;
  padding-left: 30px;
}

.booking-btn {
  margin-top: 20px;
  padding: 15px 20px;
}

.apartment-cont-wraper{
  width: 70%;
  h3, p{
    text-align: center;
  }
  button{
    font-size: 1rem;
  }
}

.swipe {
  width: 12%;
  padding: 5px 10px;
  svg {
    width: 100%;
    // height: 40px;
  }
}

//@extend

.apartment {
  background-color: $gray;
  height: 70vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  grid-template-areas: "1bl" "a2bl";

  &--1bl {
    overflow: visible;
    grid-area: 1bl;
    display: block;
    &-main-img {
      width: 100%;
      height: 100%;
      display: block;
      grid-area: mainImg;
    }
    &-small-imgs {
      display: none;
    }
  }

  &--2bl {
    background-color: $gray;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}




@media (orientation: landscape) and (min-width: 700px) {
  .apartment-sub {
    font-size: 1rem;
  }
  
  .apartment-dis {
    font-size: 0.8rem;
    padding-top: 20px;
    padding-left: 30px;
  }
  
  .booking-btn {
    margin-top: 20px;
    padding: 15px 20px;
  }
  
  .apartment-cont-wraper{
    width: 70%;
    h3, p{
      text-align: center;
    }
    button{
      font-size: 1rem;
    }
  }
  
  .swipe {
    width: 12%;
    padding: 5px 10px;
    svg {
      width: 100%;
      // height: 40px;
    }
  }
  
  //@extend
  
  .apartment {
    background-color: $gray;
    height: 70vh;
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "1bl a2bl";
    
    &--1bl {
      grid-area: 1bl;
      display: grid;
      grid-template-rows: 8fr 2fr;
      grid-template-columns: 1fr;
      grid-template-areas: "mainImg" "smallImgs";
  
      &-main-img {
        grid-area: mainImg;
      }
      &-small-imgs {
        grid-area: smallImgs;
        display: flex;
      }
    }
  
    &--2bl {
      grid-area: a2bl;
      background-color: $gray;
      background-color: $gray;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  
  
  .apartment-img:hover{
    max-width:110%;
    transition: 0.2s ;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.76), 0 1px 2px rgba(0, 0, 0, 0.24);
  }

}





